footer {
  background: linear-gradient(90deg,var(--accent2),var(--accent1));
  color: #fff;
  text-align: center;
  padding: 14px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 50;
} 
