.login-panel {
  position: absolute;
  right: 12px;
  top: 100%;
  width: 320px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
}

.login-panel.open {
  opacity: 1;
  pointer-events: auto;
}
