html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg,var(--bg-1),var(--bg-2));
  color: var(--text);
  padding: 20px;
  padding-bottom: 100px; 
}

main {
  min-height: calc(100vh - 160px); 
} 

h1, h2, h3 {
  color: var(--accent2);
}

p {
  line-height: 1.6;
  color: var(--text);
}

img {
  max-width: 100%;
  display: block;
}

